.not-found {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: bolder;
  flex-wrap: wrap;
  div {
    text-align: center;
    span {
      display: block;
    }
  }
}
